
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-root);
}
